name: Pylint Check

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Python Pylin GitHub Action
      uses: fylein/python-pylint-github-action@v7
      with:
        args: pylint --load-plugins pylint_django --rcfile=.pylintrc **/**.py
